.DS_Store
.mixin.out
.vscode
/backups
/config/ae2/client.json
/config/jei/jei-client.ini
/config/jei/world
/config/spark/activity.json
/config/xaero*
/coremods
/crash-reports
/data
/emojiful
/enigmatic_persistence.dat
/ESM
/fancymenu_data
/local
/logs
/map_atlases
/mod_data
/modernfix
/mods/.connector
/options.txt
/options.txt.bak
/patchouli_data.json
/prettypipesprefs
/resourcepacks
/rhino.local.properties
/saves
/screenshots
/seamless.txt
/server-resource-packs
/servers.dat*
/shaderpacks
/texturepacks
/TrashSlotSaveState.json
/usercache.json
/usernamecache.json
/Xaero*